.titleWrapper {
  padding: 20px 16px 8px;
  display: flex;
}

.iconWrapper {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.title {
  padding-left: 20px;
  text-transform: capitalize;
  align-self: center;
}
