.inputWrapper {
    padding: 24px 16px;
    display: flex;
    cursor: pointer;
}

/* .search {
    padding-left: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    width: calc(100% - 32px);
}

.search::placeholder {
    color: #193773;
    font-family: 'halogen';
    font-weight: 900;
} */

.iconWrapper {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}