:root {
    --small: 33%;
    --med: 50%;
    --large: 80%;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /* margin-bottom might be unnecessary in most use cases..*/
}

.sloganContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 16px 0;
}

.sloganContainer h2 {
    font-weight: 300;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

.calendarContainer {
    border: 2px solid #193773;
    border-radius: 16px;
    padding: 24px 16px;
}

.chipContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.searchContainer {
    width: 800px;
    border-radius: 16px;
    border: 2px solid #193773;
    padding: 0 16px;
}

.whenRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.whenRow h3 {
    margin: 0 0 0 24px;
    text-transform: capitalize;
}

.iconWrapper {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 24px 0;
}

.divider {
    width: calc(100% + 32px);
    height: 1px;
    background-color: lightgrey;
    margin-left: -16px;
}

@media only screen and (max-width: 1200px) {
    .searchContainer {
        margin: 0;
        width: 90%;
    }

    .calendarContainer {
        width: 90%;
        margin: 0;
    }
}
