.container {
  display: flex;
  flex-direction: column;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.chipContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.searchContainer {
  width: 100%;
  border-radius: 16px;
  border: 1px solid #d1d7e2;
  overflow: hidden;
}

.whenRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 15px 0;
}

.whenRow h3 {
  text-transform: capitalize;
}

.iconWrapper {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.divider {
  height: 1px;
  background-color: #d1d7e2;
}
