:root {
    --small: 33%;
    --med: 50%;
    --large: 80%;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    /* margin-bottom might be unnecessary in most use cases..*/
}

.innerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

.calendarContainer {
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 24px 16px;
}

.chipContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.searchContainer {
    width: 800px;
    border-radius: 16px;
    border: 1px solid lightgray;
}

@media only screen and (max-width: 1200px) {
    .searchContainer {
        margin: 0;
        width: 90%;
        padding: 0 16px;
    }

    .calendarContainer {
        width: 90%;
        margin: 0 0 24px 0;
    }
}

/* @media only screen and (max-width: 1200px) {
    .chipContainer {
        width: var(--med);
    }

    .innerContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 769px) {
    .chipContainer, .searchContainer {
        width: var(--large);
    }
} */
