h3 {
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    font-size: 22px;
    font-weight: 900;
    margin-left: 4px;
    font-family: 'halogen';
    justify-content: space-between;
}

.childContainer {
    display: flex;
    flex-direction: column;
    padding: 0 16px 24px 16px;
    gap: 16px;
}