.customCalendar {
  border: none;
  $ece-secondary: --ece-secondary;

  button {
    color: var(--ece-text-primary-color);
    margin: 3px 0;
    clip-path: polygon(7px 0, 100% 0, calc(100% - 7px) 100%, 0 100%);

    &:hover {
      background-color: var(--ece-secondary-bg);
    }
  }

  :global {
    abbr[title] {
      text-decoration: none;
    }

    .react-calendar__navigation {
      span {
        color: var(--ece-secondary);
        font-family: var(--ece-headings-font);
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 700;
      }

      button {
        font-size: 30px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &:enabled:hover {
          background-color: var(--ece-secondary);
        }
      }

      &__next-button,
      &__prev-button {
        color: var(--ece-secondary);

        &:hover {
          background-color: var(--ece-secondary-bg) !important;
        }
      }

      &__next2-button,
      &__prev2-button {
        display: none !important;
      }

      &__label:hover {
        background-color: var(--ece-secondary-bg) !important;
      }
    }

    .react-calendar__month-view {
      &__weekdays {
        color: var(--ece-secondary);
        font-family: var(--ece-primary-font);
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 19px;
      }

      &__days__day--neighboringMonth {
        color: #757575;
      }

      &__days__day--weekend {
        color: #d10000;
      }
    }

    .react-calendar__tile {
      font-family: var(--ece-primary-font);
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;

      &:enabled:hover,
      &:enabled:focus {
        background-color: var(--ece-secondary-bg);
      }

      &--now {
        background-color: var(--ece-primary-bg);

        &:enabled:hover,
        &:enabled:focus {
          background-color: var(--ece-secondary-bg);
        }
      }

      &--active {
        background: var(--ece-secondary);
        color: white;

        &:enabled:hover,
        &:enabled:focus {
          background: var(--ece-secondary-dark);
        }
      }

      &--hasActive {
        background: var(--ece-secondary-light);
        color: #ffffff;

        &:enabled:hover,
        &:enabled:focus {
          background: var(--ece-secondary-dark);
        }
      }

      &--rangeStart {
        background-color: var(--ece-secondary);
      }

      &--rangeEnd {
        background-color: var(--ece-secondary);
      }

      &--hover {
        background-color: var(--ece-secondary-bg);
      }
    }

    .react-calendar--selectRange .react-calendar__tile--hover {
      background-color: var(--ece-secondary-bg);
    }
  }
}
