{
  "plugins": ["prettier-plugin-organize-imports"],
  "pluginSearchDirs": false,
  "organizeImportsSkipDestructiveCodeActions": true,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true
}
