.container {
  width: 100%;
  margin: 24px auto;
}

.innerContainer {
  align-items: center;
  margin: 16px auto;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 16px 24px;
  justify-content: space-between;
}

.copyBtn {
  margin: 16px 0 8px 0;
}

@media only screen and (max-width: 1200px) {
  .innerContainer {
    display: block;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
