.container {
    width: 1200px;
    margin: 24px auto;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px auto;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 16px 24px;
    justify-content: space-between;
    width: 1200px;
}

@media only screen and (max-width: 1200px) {
    .container, .btn{
        display: none !important;
    }

}